.pricing .box-container  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.pricing .box-container .box {
    flex: 1 1 27rem;
    margin: 1rem;
    padding: 1rem;
    background: #fff;
    border: .1 rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    text-align: center;
    padding-bottom: 3rem;
}

.pricing .box-container .box:nth-child(2), .pricing .box-container .box:hover {
    border: .2rem solid var(--pink);
}

.box h3 {
        color: var(--purple);
        font-size: 2.5rem;
        padding-top: 1rem;
}

.price {
        font-size: 4rem;
        color: var(--pink);
        padding: 1rem 0;
}

.price span {
    font-size: 2rem;
}

.box ul {
    padding: 1rem 0;
    list-style: none;
}

.box ul li {
    font-size: 1.7rem;
    color: #666;
    padding: .5rem 0;
}

.fa-check {
    color: lightgreen;
}

.fa-times {
    color: tomato;
}